{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V13</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "css/h2.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/h1.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:500,800&display=swap" rel="stylesheet">
<!--===============================================================================================-->


</head>
<body >

	<center><h1>Learn.IITG</h1></center>
	<div class="limiter">
		<div class="container-login100">
			

			<div class="login100-more" ></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">

        <form class="login100-form validate-form" action="/postsignup/" method="POST">
          {% csrf_token %} 
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Name</span>
						<input class="input100" type="text" name="name" placeholder="Name..." required="">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Webmail</span>
						<input class="input100" type="text" name="email" placeholder="IITG webmail" required="">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Roll number is required">
						<span class="label-input100">Rollnumber</span>
						<input class="input100" type="number" name="rollno" placeholder="Roll Number" required="">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="*************" required="">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
						<span class="label-input100">Repeat Password</span>
						<input class="input100" type="password" name="repeat-pass" placeholder="*************" required="">
						<span class="focus-input100"></span>
					</div>

					


					<div class="container-login100-form-btn">
						<center><div class="wrap-login100-form-btn" ">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn" style="padding: 10px 15px;
  font-family: 'Montserrat';
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;

  color: #000000;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;
  " >
								Sign Up
							</button>
						</div></center>
						
					</div>
				</form>
				<center><button href="" onclick="document.getElementById('id01').style.display='block'"  >
							Sign in
							
						</button></center>
			</div>
		</div>
	</div>
	
  
<center><div id="id01" class="modal">
  
  <center><form class="modal-content animate"  action="/postsign/" method="post">
    {% csrf_token %} 
    <div class="container1">
     <div>
      
      <input type="email" placeholder="Webmail" name="email" required>
     </div>
     <div>
      
      <input type="password" placeholder="Enter Password" name="pass" required>
        
      <div><button class="button" type="submit" style="padding: 10px 15px;
  font-family: 'Montserrat';
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000000;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;">Login</button></div>
     
    </div>
    <div class="container1" >
      <div ><button type="button" onclick="document.getElementById('id01').style.display='none'" class="button" class="cancelbtn" style="padding: 10px 15px;
  font-family: 'Montserrat';
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;

  color: #000000;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px #999;">Cancel</button></div>
      
    </div>
</div>
  </form>
  </center>
</div>
</center>
<script>
// Get the modal
var modal = document.getElementById('id01');
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
	
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
</body>
</html>